@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #6c757d; 
}
#black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}
#box-timer {
  clear: both; 
  list-style: none;
  margin-left: 30px;
  height: 50px;
  width: 85%;
  z-index: 99999;
  background-color: #ff0000;
  color: #ffffff;
  text-align: center;
  border-radius: 12px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#close-button {
  background-color: transparent;
  border: 2px solid white;
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 10px;
  right: 20px;
}
.custom-input:focus {
  border-color: purple; 
  box-shadow: 0 0 0px 3px rgba(111, 66, 193, 0.5); 
  outline: none;
}
